<header class="header">
    <div class="container header__container">
        <div class="logo">
            <img src="../assets/images/logo.png" alt="logo">
        </div>

        <div class="burger" (click)="activeMenu()">
            <div class="burger__pass"></div>
            <div class="burger__pass"></div>
            <div class="burger__pass"></div>
        </div>

        <nav class="menu" #menuElement (click)="activeMenu()" [class.open]="isActiveMenu">
            <div class="close">✕</div>
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#choose" class="menu__link" (click)="scrollService.scrollTo(choose)">Пироженки</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">О нас</a>
                </li>
                <li class="menu__item">
                    <a href="#order" class="menu__link">Оформить заказ</a>
                </li>
            </ul>
        </nav>

        <div class="number header__number">{{number | phoneNumber}}</div>
    </div>
</header>